@import '../../variables/global.scss';

.board {
  @extend %flex-center;
  margin: 10px;
}

.board__button {
  align-self: flex-start;
  margin: 5px;
}

.board__content {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
}
