.board {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.board__button {
    align-self: flex-start;
    margin: 5px;
}

.board__content {
    display: flex;
    flex-wrap: wrap;
    width: 675px;
}