@import '../../../variables/global.scss';

.panel__player {
  @extend %flex-center;
  border: 1px solid $color-white;
  flex-direction: column;
  width: 100%;
  margin: 10px 0px;
  padding: 20px;
}

.form__player {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__field {
  display: flex;
  flex-direction: row;
  margin: 10px 0px;
}

.field__button {
  margin-left: 10px;
  padding: 0px 20px;
}
