@import '../../variables/global.scss';

.card {
  width: 100px;
  height: 100px;
  margin: 5px;
  color: $color-black;
}

.card__item {
  background-color: $bg__item;
  flex-grow: 1;
}

.card__icon {
  background-color: $bg__item-2;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-content: center;
}

.ReactCardFlip {
  width: 100%;
  height: 100%;
}
