.item {
    background-color: var(--bg-item);
    flex-grow: 1;
    width: 125px;
    height: 125px;
    margin: 5px;
}

.icon {
    background-color: var(--bg-item-2);
    width: 125px;
    height: 125px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: auto 0;
}