@import './variables/global.scss';

.app {
  background-color: $bg__color;
  min-height: 100vh;
  font-size: 16px;
  color: $color-white;
}

.app__content {
  height: 100%;
  @extend %flex-center;
  padding: 30px;
}

.app__footer {
  @extend %flex-center;
  height: 50px;
  flex-direction: row;
  border-top: 1px solid #fff;
}

.app__panel {
  @extend %flex-center;
  flex-direction: column;
  height: 100%;
  min-width: 300px;
  padding: 20px;
  margin: 10px;
}

.panel__positions {
  @extend %flex-center;
  flex-direction: column;
  border: 1px solid $color-white;
  margin: 10px 0px;
  padding: 20px;
  width: 100%;
}
